/* MEMORY POPUP (GLOBAL) */
#memoryPopup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.popup-card{
  background:#fff;
  padding:25px;
  border-radius:20px;
  width:90%;
  max-width:320px;
  text-align:center;
  font-family:'Patrick Hand',cursive;
  animation:pop .4s ease;
}

@keyframes pop{
  from{transform:scale(.8);opacity:0}
  to{transform:scale(1);opacity:1}
}

.popup-card h3{color:#d14b7c}
.popup-card input{
  width:100%;
  padding:10px;
  border-radius:20px;
  border:2px solid #f2c1d9;
  margin:10px 0;
  text-align:center;
}
.popup-card button{
  background:#ff4fa1;
  color:#fff;
  border:none;
  padding:10px 25px;
  border-radius:25px;
}
